ade_path/
.ade_path
.DS_Store/
.DS_Store
build/
output/
generated/
tmp/
main/lib/
main/dist/
main/tests/testjar/
main/tests/eclipse-plugins/
gsrc/
*.class
*.ear
*.war
!main/modules/workspace/workspace.war
!qa/bpmr2tests/*.zip
!common/thirdparty/org/codehaus/mojo/qunit-amd/1.5.0-alpha-1/qunit-amd-1.5.0-alpha-1-www.zip
*.swp
*~
*.iml
*.ipr
*.iws
.manifest
.labellog.emd
verify-report.log
.classpath
.project
*.cache
bpmverify*
dist/oracle.bpm.jdev.tmp
install/properties/bpm_install_label.properties
main/modules/workspace.taskflows/WorkspaceTaskFlows/ViewController/stage/adflibWorkspaceTaskFlows.jar
dist/oracle.bpm.plugins/*
*.merging
*.merging.sav
.idea/
.data/
*.xsd.touch
target
qa/bpmr2tests/*.log
tools/modules-tmp
rebel*.xml
